body {
	background-color: #eeeeee;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

#navigation {
	background-color: #ffffff;
	height: 40px;
}

#selected-date {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	width: 9em;
	height: 30px;
	font-size: 1.2em;
	font-weight: 100;
}

#navigation-toolbar {
	float: left;
	padding-left: 10px;
	height: 40px;
}

#navigation-toolbar div[id^="navigation-toolbar-"] {
	float: left;
	padding-top: 7px;
	padding-left: 3px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	display: none;
}

#navigation-toolbar img {
	width: 100%;
	height: 100%;
}

#navigation-toolbar-save {
	display: none;
}

.toolbar-icon-span {
	float: left;
	margin-top: 2px;
	width: 20px;
	height: 14px;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	color: #666666;
	cursor: pointer;
	border-radius: 20%;
	border: 2px #666666 solid;
}

/* Dropdown menu */
.dropdown {
	display: none;
	position: absolute;
	right: 10px;
	background-color: #f1f1f1;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 200;
}

.dropdown a {
	right: 10px;
	cursor: pointer;
	font-weight: 300;
	height: 1em;
	padding: 12px 12px;
	display: block;
	color: black;
	text-decoration: none;
}

.dropdown-label {
	float: left;
}

.dropdown-shortcut {
	float: right;
}

.dropdown a:hover {
	background-color: #ddd
}

/* User */
#user-info {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
}

#user-icon {
	float: left;
	padding-top: 5px;
	padding-left: 3px;
	width: 30px;
	height: 30px;
}

#user-icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#user-dropdown {
	margin-top: 37px;
}

#user-dropdown-info {
	background-color: white;
	font-weight: 100;
	padding: 5px 5px;
	display: block;
	text-align: center;
}

#user-dropdown-icon {
	width: 100%;
	height: 100%;
}

#user-dropdown-name {
	font-weight: 300;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
}

#user-dropdown-id {
	font-weight: 100;
	font-size: 0.8em;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
}

/* Calendar */
#calendar {
	padding: 5px;
	background-color: #ffffff;
}

#calendar span.date {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	word-wrap: normal;
	font-weight: 100;
	cursor: pointer;
}

#calendar span.month-text {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	width: 4.5em;
	height: 1.2em;
	text-align: center;
	word-wrap: normal;
	font-weight: 100;
}

#calendar span.date:hover {
	border-radius: 50%;
	background-color: #dddddd;
	font-weight: 700;
}

#calendar .selected-date {
	border-radius: 50%;
	background-color: #ffff88;
}

#calendar .saturday {
	color: blue;
}

#calendar .sunday {
	color: firebrick;
}

#contents {
	top: 0;
	left: 0;
	margin-bottom: 10px;
}

.node-frame {
	position: relative;
	width: 100%;
	margin: 0;
	min-height: 2em;
	overflow: hidden;

	border-bottom-style: solid;
	border-bottom-width: 1px;

	border-right-style: solid;
	border-right-width: 1px;

	border-radius: 5px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.node-frame-collapsed {
	border-bottom-style: dashed;
}

.node-contents {
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: calc(100% - 7em);
	white-space: pre-wrap;
	outline: 0px;
	font-weight: 100;
	caret-color: red;
}

.node-contents:focus {
	background-color: rgba(255, 255, 220, 1.0);
}

.node-status-none {
	background-color: white;
	border-bottom-color: #dddddd;
	border-right-color: #dddddd;
}

.node-status-done {
	background-color: #fcfffc;
	color: seagreen;
	text-decoration: darkgrey solid line-through;
	border-bottom-color: #dddddd;
	border-right-color: #dddddd;
}

.node-status-cancel {
	background-color: #fffcfc;
	color: firebrick;
	text-decoration: darkgrey solid line-through;
	border-bottom-color: #dddddd;
	border-right-color: #dddddd;
}

.node-toolbar {
	width: 7em;
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
}

.node-toolbar-label {
	display:inline-block;
	text-align: center;
	width: 33%;
}

.node-toolbar-label img {
	padding: 3px;
	width: calc(2em - 6px);
	height: calc(2em - 6px);
	cursor: pointer;
}

.node-toolbar-checkbox {
	display: none;
	visibility: hidden;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	padding-bottom: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: calc(100% - 100px); /* Height for scrolling */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow: auto; /* Enable scroll if needed */
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 600px;
	width: 80%;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
	min-height: 50px;
	font-size: 1em;
	text-align: center;
	border: 0;
	cursor: pointer;
}

#modal-button-set {
	width: 100%;
}

.button-ok {
	color: white;
	background-color: midnightblue;
}

.button-cancel {
	color: white;
	background-color: maroon;
}

.button-set-single {
	width: 100%;
}

.button-set-twin {
	width: 50%;
}

.button-set-triple {
	width: 33.33%;
}

/* Settings */
#settings {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 200; /* Sit on top */
	padding-top: 50px;
	padding-bottom: 50px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: calc(100% - 100px); /* Height for scrolling */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow: auto;
}

#settings-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 600px;
	width: 80%;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#settings-list {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 2px black solid;
}

.settings-item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	height: 2em;
}

.settings-item-title {
	float: left;
	min-width: 150px;
	width: 30%;
	max-width: 300px;
}

.settings-item-value {
	float: left;
	width: 120px;
}

select {
	width: 100%;
	font-size: 1em;
	border-radius: 0px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

/* Hide default HTML checkbox */
.switch .settings-checkbox-slider {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.settings-checkbox-slider:checked + .slider {
	background-color: #2196F3;
}

.settings-checkbox-slider:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.settings-checkbox-slider:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

#settings-list input[type=number] {
	text-align: right;
	font-size: 1em;
	width: 60%;
	margin-right: 5px;
	min-width: 50px;
}

.input-deactivate {
	background-color: #ccc;
	color: #666;
	border-color: rgba(0,0,0,0);
}