body {
	background-color: #eeeeee;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#title {
	background-color: #ffffff;
	height: 40px;
}

#selected-date {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	width: 9em;
	height: 30px;
	font-size: 1.2em;
	font-weight: 100;
}

#header-tool-bar {
	float: left;
	padding-left: 10px;
	height: 40px;
}

#header-tool-bar img {
	float: left;
	padding-top: 7px;
	padding-left: 3px;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

#user-info {
	float: right;
	padding-left: 10px;
	height: 40px;
}

#user-icon {
	float: left;
	padding-top: 7px;
	padding-left: 3px;
	width: 26px;
	height: 26px;
}

#sign-out {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	font-weight: 100;
}

#sign-out:hover {
	font-weight: 500;
}

#calendar {
	padding: 10px;
	background-color: #ffffff;
}

#calendar span.date {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	word-wrap: normal;
	font-weight: 100;
	cursor: pointer;
}

#calendar span.month-text {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	width: 4.5em;
	height: 1.2em;
	text-align: center;
	word-wrap: normal;
	font-weight: 100;
}

#calendar span.date:hover {
	border-radius: 50%;
	background-color: #dddddd;
	font-weight: 700;
}

#calendar .selected-date {
	border-radius: 50%;
	background-color: #ffff88;
}

#calendar .saturday {
	color: blue;
}

#calendar .sunday {
	color: firebrick;
}

#contents {
	top: 0;
	left: 0;
}

.node-frame {
	position: relative;
	width: 100%;
	margin-bottom: 6px;
	min-height: 2em;
	overflow: hidden;

	border-bottom-style: solid;
	border-bottom-width: 2px;

	border-right-style: solid;
	border-right-width: 2px;
}

.node-frame-collapsed {
	border-bottom-style: dashed;
}

.node-contents {
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: calc(100% - 7em);
	white-space: pre-wrap;
	outline: 0px;
	font-weight: 100;
}

.node-contents:focus {
	background-color: rgba(255, 255, 222, 0.5);
	border-bottom: 1px rgba(255, 255, 222, 1.0) solid;
}

.node-status-none {
	background-color: #ffffff;
	border-bottom-color: #dddddd;
}

.node-status-done {
	background-color: #f5fff5;
	color: darkgrey;
	text-decoration: darkgrey solid line-through;
	border-bottom-color: darkgreen;
}

.node-status-cancel {
	background-color: #ffeeee;
	color: darkgrey;
	text-decoration: darkgrey solid line-through;
	border-bottom-color: firebrick;
}

.node-toolbar {
	width: 7em;
	top: 0;
	right: 0;
	height: 100%;
	position: absolute;
}

.node-toolbar-label {
	display:inline-block;
	text-align: center;
	width: 33%;
}

.node-toolbar-label img {
	padding: 3px;
	width: calc(2em - 6px);
	height: calc(2em - 6px);
	cursor: pointer;
}

.node-toolbar-checkbox {
	display: none;
	visibility: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    width: 80%;
    min-width: 300px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
	min-height: 50px;
	font-size: 1em;
	text-align: center;
	border: 0;
}

#modal-button-set {
	width: 100%;
}

#modal-ok {
	width: 45%;
	background-color: #44cc66;
	color: #ffffff;
	cursor: pointer;
}

#modal-cancel {
	width: 45%;
	background-color: #cc6644;
	color: #ffffff;
	cursor: pointer;
}
